:root {
  --accent: rgb(0,255,255);
  --accent-alpha-70: rgba(35,176,255,.7);
  --accent-alpha-20: rgba(35,176,255,.2);

  --background: #1b1b1b;
  --color: white;
  --border-color: rgba(255, 255, 255, .1);
}
